@charset "UTF-8";

.clear:after {
  display: block;
  content: "";
  clear: both;
}

body {
  font-family: "Microsoft YaHei","\5FAE\8F6F\96C5\9ED1","Hiragino Sans GB","华文细黑","arial","sans-serif";
  background-color: #FCFCFC;
  word-break: break-all;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

.text-indent {
  text-indent: 2em;
}

i {
  font-style: normal;
}

input,
button {
  border: none;
  background-color: transparent;
}

.line-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.guide-wrap {
  height: 0;
}

.vw100 {
  display: block;
  width: 100vw;
}

.germany-info,
.china-info {
  position: relative;
}

.germany-info .link > img,
.china-info .link > img {
  position: absolute;
  top: 1rem;
  right: 1.484375rem;
  width: 1.921875rem;
  height: auto;
}

.germany-info .link > img:hover,
.china-info .link > img:hover {
  opacity: 0.6;
}

.china-info {
  top: -1.265625rem;
}

.china-info .link > img {
  position: absolute;
  top: 1.890625rem;
  left: 1.09375rem;
}

.release {
  position: relative;
  top: -2.203125rem;
  text-align: center;
}

.release .content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.release .content h3 {
  padding-bottom: 0.46875rem;
  font-size: 0.4375rem;
  color: #949494;
}

.release .content .button {
  display: block;
  width: 7.8125rem;
  border-radius: 0.09375rem;
  background-color: #E44848;
}

.release .content .button > img {
  display: inline-block;
  position: relative;
  top: 0.046875rem;
  width: 0.515625rem;
  height: 0.515625rem;
}

.release .content .button button {
  height: 1.296875rem;
  line-height: 1.296875rem;
  text-align: center;
  font-size: 0.59375rem;
  color: #fff;
}

.search-wrap {
  background-color: #F3F3F3;
}

[data-dpr="1"] .search-wrap {
  padding: 10px;
}

[data-dpr="2"] .search-wrap {
  padding: 20px;
}

[data-dpr="3"] .search-wrap {
  padding: 30px;
}

.search-wrap form {
  position: relative;
  display: block;
  width: 100%;
  border: 1px solid #C9C9C9;
  background-color: #fff;
}

.search-wrap input:focus + img {
  display: none;
}

.search-wrap input::-webkit-input-placeholder {
  color: #777;
}

.search-wrap input:focus::-webkit-input-placeholder {
  color: #fff;
}

.search-wrap input {
  height: 0.90625rem;
  line-height: 0.90625rem;
  text-align: center;
  width: 100%;
}

[data-dpr="1"] .search-wrap input {
  font-size: 14px;
}

[data-dpr="2"] .search-wrap input {
  font-size: 28px;
}

[data-dpr="3"] .search-wrap input {
  font-size: 42px;
}

.search-wrap .search-icon {
  position: absolute;
  left: 34%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  display: inline-block;
  width: 0.421875rem;
  height: 0.421875rem;
}

.f-l {
  float: left;
}

.f-r {
  float: right;
}

.diamonds {
  display: inline-block;
  width: 0.3125rem;
  height: 0.3125rem;
}

.diamonds-large {
  width: 1.125rem;
  height: 1.125rem;
}

.diamonds-yellow {
  background-color: #EDAF33;
}

.diamonds-green {
  background-color: #91CB66;
}

.browse,
.companion {
  background-color: #FCFCFC;
}

[data-dpr="1"] .browse,
[data-dpr="1"] .companion {
  padding-left: 9px;
  font-size: 11px;
}

[data-dpr="2"] .browse,
[data-dpr="2"] .companion {
  padding-left: 18px;
  font-size: 22px;
}

[data-dpr="3"] .browse,
[data-dpr="3"] .companion {
  padding-left: 27px;
  font-size: 33px;
}

.browse-click {
  position: relative;
  padding-right: 0.5rem;
  padding-top: 0.4375rem;
  padding-bottom: 0.40625rem;
  border-bottom: 1px solid #DCDCDC;
  color: #777;
  text-align: center;
  touch-action: none;
}

.browse-click:after {
  display: block;
  content: "";
  clear: both;
}

.browse-click > a {
  color: #777;
}

.browse-click > a:hover {
  text-decoration: none;
}

.browse-click .top-arrow,
.browse-click .bottom-arrow {
  position: absolute;
  width: 0;
  height: 0;
}

.browse-click .bottom-arrow {
  left: 5.390625rem;
  top: 53%;
  -webkit-transform: translateY(-50%);
  border-left: 0.125rem solid transparent;
  border-right: 0.125rem solid transparent;
  border-top: 0.125rem solid #777;
}

.browse-click .top-arrow {
  left: 1.625rem;
  top: -0.15625rem;
  opacity: .7;
  border-left: 0.1875rem solid transparent;
  border-right: 0.1875rem solid transparent;
  border-bottom: 0.1875rem solid #000;
}

.browse-click ul {
  position: absolute;
  z-index: 10;
  left: 3.109375rem;
  top: 1.234375rem;
  width: 3.578125rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.09375rem;
}

[data-dpr="1"] .browse-click ul {
  font-size: 14px;
  padding: 0 10px;
}

[data-dpr="2"] .browse-click ul {
  font-size: 28px;
  padding: 0 20px;
}

[data-dpr="3"] .browse-click ul {
  font-size: 42px;
  padding: 0 30px;
}

.browse-click ul li:not(.top-arrow) {
  position: relative;
  z-index: 10;
  padding-top: 0.53125rem;
  padding-bottom: 0.4375rem;
  border-bottom: 0.015625rem solid #000;
}

.browse-click ul li:not(.top-arrow):last-child {
  border-bottom: none;
}

.browse-click ul li:not(.top-arrow) a {
  color: #fff;
}

.vertical-center,
.message-lists .diamonds-large {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
}

.message-lists .item {
  position: relative;
  display: block;
  overflow: hidden;
}

.message-lists .message-item-content {
  height: 2.28125rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  border-bottom: 1px solid #DCDCDC;
}

.message-lists .diamonds-large {
  padding: 0 0.1875rem;
  line-height: 0.46875rem;
  color: #fff;
}

.message-lists .item-text {
  width: 8.625rem;
  text-align: justify;
  color: #282828;
}

[data-dpr="1"] .message-lists .item-text {
  padding-left: 15px;
  padding-right: 16px;
  height: 34px;
  font-size: 14px;
  line-height: 18px;
}

[data-dpr="2"] .message-lists .item-text {
  padding-left: 30px;
  padding-right: 32px;
  height: 68px;
  font-size: 28px;
  line-height: 36px;
}

[data-dpr="3"] .message-lists .item-text {
  padding-left: 45px;
  padding-right: 48px;
  height: 102px;
  font-size: 42px;
  line-height: 54px;
}

.message-lists .item-text > span {
  display: block;
  -webkit-line-clamp: 2;
}

.message-lists .item-text > span i {
  color: #e63100;
}

.message-lists .info-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 1.109375rem;
  height: 1.109375rem;
  line-height: 1.109375rem;
  text-align: center;
  font-size: 0.4375rem;
  color: #fff;
  text-shadow: 0.03125rem 0 0.0625rem #000;
}

.flag {
  position: relative;
  width: 1.0625rem;
  border-width: 1px;
  border-style: solid;
  border-radius: 0.0625rem;
  padding-left: 0.203125rem;
  overflow: hidden;
  background-position: 0.765625rem 0;
  background-repeat: no-repeat;
  background-size: cover;
}

[data-dpr="1"] .flag {
  height: 34px;
  line-height: 34px;
  font-size: 14px;
}

[data-dpr="2"] .flag {
  height: 68px;
  line-height: 68px;
  font-size: 28px;
}

[data-dpr="3"] .flag {
  height: 102px;
  line-height: 102px;
  font-size: 42px;
}

.gong {
  border-color: #EA4848;
  color: #EA4848;
}

.qiu {
  border-color: #CDB878;
  color: #CDB878;
}

article {
  color: #777;
}

[data-dpr="1"] article {
  font-size: 14px;
}

[data-dpr="2"] article {
  font-size: 28px;
}

[data-dpr="3"] article {
  font-size: 42px;
}

section img,
article img {
  display: inline-block;
}

.article-title-wrap {
  background-color: #EBEBEB;
}

.companion-article-title-wrap {
  padding: 0.265625rem 1.125rem 0.265625rem 0.921875rem;
  line-height: 0.8125rem;
}

.info-article-title-wrap {
  padding-left: 0;
  padding-right: 0;
}

.article-title {
  position: relative;
  color: #282828;
}

[data-dpr="1"] .article-title {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 16px;
  line-height: 26px;
}

[data-dpr="2"] .article-title {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 32px;
  line-height: 52px;
}

[data-dpr="3"] .article-title {
  padding-top: 75px;
  padding-bottom: 75px;
  font-size: 48px;
  line-height: 78px;
}

.info-article-title-wrap .article-title {
  position: relative;
  padding: 0;
}

.info-article-title-wrap .article-title h1 {
  border-bottom: 1px solid #C9C9C9;
}

[data-dpr="1"] .info-article-title-wrap .article-title h1 {
  padding: 22px 29px;
}

[data-dpr="2"] .info-article-title-wrap .article-title h1 {
  padding: 44px 58px;
}

[data-dpr="3"] .info-article-title-wrap .article-title h1 {
  padding: 66px 87px;
}

article .title-more {
  position: relative;
  border-bottom: 1px solid #C9C9C9;
  overflow: hidden;
}

[data-dpr="1"] article .title-more {
  padding: 16px 21px 18px 29px;
  font-size: 14px;
}

[data-dpr="2"] article .title-more {
  padding: 32px 42px 36px 58px;
  font-size: 28px;
}

[data-dpr="3"] article .title-more {
  padding: 48px 63px 54px 87px;
  font-size: 42px;
}

article .title-more .flag {
  display: inline-block;
  vertical-align: middle;
}

[data-dpr="1"] article .title-more .flag {
  margin-right: 8px;
  width: 15.5px;
  height: 15.5px;
  line-height: 15.5px;
  font-size: 7px;
  padding-left: 1.5px;
}

[data-dpr="2"] article .title-more .flag {
  margin-right: 16px;
  width: 31px;
  height: 31px;
  line-height: 31px;
  font-size: 14px;
  padding-left: 3px;
}

[data-dpr="3"] article .title-more .flag {
  margin-right: 24px;
  width: 46.5px;
  height: 46.5px;
  line-height: 46.5px;
  font-size: 21px;
  padding-left: 4.5px;
}

[data-dpr="1"] article .title-more .germany-flag,
[data-dpr="1"] article .title-more .china-flag {
  background-position: 10.5px 0;
}

[data-dpr="2"] article .title-more .germany-flag,
[data-dpr="2"] article .title-more .china-flag {
  background-position: 21px 0;
}

[data-dpr="3"] article .title-more .germany-flag,
[data-dpr="3"] article .title-more .china-flag {
  background-position: 31.5px 0;
}

article .title-more li {
  position: relative;
}

[data-dpr="1"] article .title-more li {
  padding-left: 67px;
  padding-bottom: 17px;
  line-height: 19px;
}

[data-dpr="2"] article .title-more li {
  padding-left: 134px;
  padding-bottom: 34px;
  line-height: 38px;
}

[data-dpr="3"] article .title-more li {
  padding-left: 201px;
  padding-bottom: 51px;
  line-height: 57px;
}

article .title-more li > span {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  vertical-align: bottom;
  color: #acacac;
}

[data-dpr="1"] article .title-more li > span {
  width: 67px;
}

[data-dpr="2"] article .title-more li > span {
  width: 134px;
}

[data-dpr="3"] article .title-more li > span {
  width: 201px;
}

article .title-more li:last-child {
  padding-bottom: 0;
}

article .title-more li:last-child,
article .title-more li:first-child {
  color: #585858;
}

.article-classify {
  margin-bottom: 0.4375rem;
  background-color: #FCFCFC;
  background-image: url("../images/info-cell-icon.jpg");
  background-repeat: no-repeat;
  background-size: 30px;
}

[data-dpr="1"] .article-classify {
  padding: 0 28.5px 17.5px 28.5px;
  line-height: 21px;
  background-position: 0 28.5px;
}

[data-dpr="2"] .article-classify {
  padding: 0 57px 35px 57px;
  line-height: 42px;
  background-position: 0 57px;
}

[data-dpr="3"] .article-classify {
  padding: 0 85.5px 52.5px 85.5px;
  line-height: 63px;
  background-position: 0 85.5px;
}

.article-classify:last-child {
  border-top: 1px solid #C9C9C9;
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0.90625rem;
}

.concat img {
  margin-right: 0.28125rem;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.companion-item {
  position: relative;
  display: block;
  color: #777777;
  overflow: hidden;
}

.companion-item-content {
  border-bottom: 1px solid #C9C9C9;
}

[data-dpr="1"] .companion-item-content {
  height: 90.5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

[data-dpr="2"] .companion-item-content {
  height: 181px;
  padding-top: 30px;
  padding-bottom: 30px;
}

[data-dpr="3"] .companion-item-content {
  height: 271.5px;
  padding-top: 45px;
  padding-bottom: 45px;
}

.item-bg:before,
.item-bg:after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 0.46875rem;
  height: 1px;
}

.item-bg:before {
  right: 0;
  background-color: #C81300;
}

.item-bg:after {
  right: 0.46875rem;
  background-color: #F3A309;
}

.companion-logo {
  width: 2.8125rem;
  border: 1px solid #C9C9C9;
  background-size: contain;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
}

[data-dpr="1"] .companion-logo {
  height: 60px;
}

[data-dpr="2"] .companion-logo {
  height: 120px;
}

[data-dpr="3"] .companion-logo {
  height: 180px;
}

.companion-info {
  width: 6.90625rem;
}

[data-dpr="1"] .companion-info {
  padding-left: 9px;
  padding-right: 9px;
  height: 60px;
}

[data-dpr="2"] .companion-info {
  padding-left: 18px;
  padding-right: 18px;
  height: 120px;
}

[data-dpr="3"] .companion-info {
  padding-left: 27px;
  padding-right: 27px;
  height: 180px;
}

.message-lists .item-text,
.companion-info {
  display: -webkit-flex;
  -webkit-flex-flow: column;
  -webkit-justify-content: center;
}

.info-title {
  color: #222;
  -webkit-line-clamp: 3;
}

[data-dpr="1"] .info-title {
  font-size: 15px;
}

[data-dpr="2"] .info-title {
  font-size: 30px;
}

[data-dpr="3"] .info-title {
  font-size: 45px;
}

.info-summary {
  font-size: 0.34375rem !important;
  line-height: 0.5rem;
  -webkit-line-clamp: 2;
}

.companion-section {
  padding-top: 0.78125rem;
  padding-bottom: 0.78125rem;
}

/*.germany-border,
.china-border {
  position: absolute;
  bottom: 0;
  width: 36px;
  height: 1px;
}*/

.germany-border {
  right: 0;
  background-color: #A41101;
}

.china-border {
  right: 0.5625rem;
  background-color: #ED960F;
}

.about-concat,
.about-section,
.companion-section {
  color: #777;
}

[data-dpr="1"] .about-concat,
[data-dpr="1"] .about-section,
[data-dpr="1"] .companion-section {
  padding-left: 29px;
  padding-right: 29px;
  font-size: 15px;
  line-height: 26px;
}

[data-dpr="2"] .about-concat,
[data-dpr="2"] .about-section,
[data-dpr="2"] .companion-section {
  padding-left: 58px;
  padding-right: 58px;
  font-size: 30px;
  line-height: 52px;
}

[data-dpr="3"] .about-concat,
[data-dpr="3"] .about-section,
[data-dpr="3"] .companion-section {
  padding-left: 87px;
  padding-right: 87px;
  font-size: 45px;
  line-height: 78px;
}

.about-section {
  padding-top: 1.171875rem;
  padding-bottom: 1.171875rem;
  line-height: 0.8125rem;
  border-bottom: 1px solid #C9C9C9;
}

[data-dpr="1"] .about-section {
  font-size: 15px;
}

[data-dpr="2"] .about-section {
  font-size: 30px;
}

[data-dpr="3"] .about-section {
  font-size: 45px;
}

.page-bg {
  width: 10rem;
  height: 4.078125rem;
}

.classify-title {
  color: #333;
  text-align: center;
}

[data-dpr="1"] .classify-title {
  padding: 27.5px 0 25px 2.5px;
  font-size: 16px;
}

[data-dpr="2"] .classify-title {
  padding: 55px 0 50px 5px;
  font-size: 32px;
}

[data-dpr="3"] .classify-title {
  padding: 82.5px 0 75px 7.5px;
  font-size: 48px;
}

[data-dpr="1"] .article-classify li {
  padding-bottom: 9px;
}

[data-dpr="2"] .article-classify li {
  padding-bottom: 18px;
}

[data-dpr="3"] .article-classify li {
  padding-bottom: 27px;
}

[data-dpr="1"] .about-concat {
  padding-bottom: 25px;
}

[data-dpr="2"] .about-concat {
  padding-bottom: 50px;
}

[data-dpr="3"] .about-concat {
  padding-bottom: 75px;
}

.about-concat-item {
  width: 100%;
  text-align: center;
  color: #999;
  background-color: #EDEDED;
}

[data-dpr="1"] .about-concat-item {
  margin-bottom: 13px;
  padding: 19px 20px 15px 17px;
  font-size: 13px;
}

[data-dpr="2"] .about-concat-item {
  margin-bottom: 26px;
  padding: 38px 40px 30px 34px;
  font-size: 26px;
}

[data-dpr="3"] .about-concat-item {
  margin-bottom: 39px;
  padding: 57px 60px 45px 51px;
  font-size: 39px;
}

.about-concat-item i {
  color: #E44848;
}

[data-dpr="1"] .about-concat-item i {
  margin-right: 5px;
}

[data-dpr="2"] .about-concat-item i {
  margin-right: 10px;
}

[data-dpr="3"] .about-concat-item i {
  margin-right: 15px;
}

.about-concat-item h4 {
  color: #282828;
}

[data-dpr="1"] .about-concat-item h3 {
  padding-bottom: 2.5px;
}

[data-dpr="2"] .about-concat-item h3 {
  padding-bottom: 5px;
}

[data-dpr="3"] .about-concat-item h3 {
  padding-bottom: 7.5px;
}

[data-dpr="1"] .about-concat-item span {
  font-size: 19px;
}

[data-dpr="2"] .about-concat-item span {
  font-size: 38px;
}

[data-dpr="3"] .about-concat-item span {
  font-size: 57px;
}

[data-dpr="1"] .about-concat-item:nth-of-type(3) p {
  padding-left: 103px;
}

[data-dpr="2"] .about-concat-item:nth-of-type(3) p {
  padding-left: 206px;
}

[data-dpr="3"] .about-concat-item:nth-of-type(3) p {
  padding-left: 309px;
}

.wx-item {
  display: -webkit-flex;
  justify-content: center;
}

.wx-item i {
  display: block;
}

[data-dpr="1"] .wx-item h3 {
  padding-top: 7px;
}

[data-dpr="2"] .wx-item h3 {
  padding-top: 14px;
}

[data-dpr="3"] .wx-item h3 {
  padding-top: 21px;
}

[data-dpr="1"] .wx-item span {
  font-size: 10px;
}

[data-dpr="2"] .wx-item span {
  font-size: 20px;
}

[data-dpr="3"] .wx-item span {
  font-size: 30px;
}

.wx-item .erweima {
  margin-left: 0.46875rem;
}

[data-dpr="1"] .wx-item img {
  width: 99px;
  height: 99px;
}

[data-dpr="2"] .wx-item img {
  width: 198px;
  height: 198px;
}

[data-dpr="3"] .wx-item img {
  width: 297px;
  height: 297px;
}

[data-dpr="1"] .time-item h4 {
  font-size: 25px;
}

[data-dpr="2"] .time-item h4 {
  font-size: 50px;
}

[data-dpr="3"] .time-item h4 {
  font-size: 75px;
}

[data-dpr="1"] .time-item p {
  font-size: 11px;
}

[data-dpr="2"] .time-item p {
  font-size: 22px;
}

[data-dpr="3"] .time-item p {
  font-size: 33px;
}

[data-dpr="1"] .service-item {
  padding-top: 19px;
}

[data-dpr="2"] .service-item {
  padding-top: 38px;
}

[data-dpr="3"] .service-item {
  padding-top: 57px;
}

[data-dpr="1"] .service-item span {
  font-size: 14px;
}

[data-dpr="2"] .service-item span {
  font-size: 28px;
}

[data-dpr="3"] .service-item span {
  font-size: 42px;
}

[data-dpr="1"] .service-item h4 {
  font-size: 19px;
}

[data-dpr="2"] .service-item h4 {
  font-size: 38px;
}

[data-dpr="3"] .service-item h4 {
  font-size: 57px;
}

.supplier {
  max-width: 5rem;
  position: relative;
  padding-left: 1.375rem;
  word-break: break-all;
  word-wrap: break-word;
}

.supplier:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "供应商：";
}

.hint-box {
  background-color: #FCFCFC;
}

[data-dpr="1"] .hint-box {
  padding-top: 25px;
}

[data-dpr="2"] .hint-box {
  padding-top: 50px;
}

[data-dpr="3"] .hint-box {
  padding-top: 75px;
}

.hint-box .hint-lists {
  position: relative;
  text-align: left;
}

[data-dpr="1"] .hint-box .hint-lists {
  padding-left: 17.5px;
}

[data-dpr="2"] .hint-box .hint-lists {
  padding-left: 35px;
}

[data-dpr="3"] .hint-box .hint-lists {
  padding-left: 52.5px;
}

.hint-box .hint-lists i {
  position: absolute;
  left: 0;
  color: #E44848;
}

[data-dpr="1"] .hint-box .hint-lists i {
  top: 7px;
}

[data-dpr="2"] .hint-box .hint-lists i {
  top: 14px;
}

[data-dpr="3"] .hint-box .hint-lists i {
  top: 21px;
}

.all-info-article .classify-title {
  color: #db0200;
  text-align: left;
}

/*# sourceMappingURL=layout.debug.css.map */